@font-face {
  font-family: "junegull";
  src: url("./font/junegull.ttf") format("truetype");
}

@font-face {
  font-family: "Handbag";
  src: url("./font/Handbag-Regular.ttf") format("truetype");
}

h1,
h2 {
  font-family: "junegull" !important;
}

h3,
h4,
h5,
h6,
p,
a,
span,
button {
  font-family: "Baloo 2", cursive !important;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* background-color: black; */
  margin: 0;
  /* background: linear-gradient(to right, #1b1146 0%, #0e090b 50%); */
  background-color: #000
}

@keyframes banner-floating {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes latest-news-nft {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes average-game-animation {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes average-game-animation-reverse {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes cloud-movement {
  0% {
    /* opacity: 0.1; */
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    transform: translateX(500px);
  }

  10% {
    /* opacity: 0.7; */
  }

  90% {
    /* opacity: 0; */
  }

  100% {
    /* opacity: 0; */
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

@-webkit-keyframes cloud-movement {
  0% {
    /* opacity: 0.1; */
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    transform: translateX(500px);
  }

  10% {
    /* opacity: 0.7; */
  }

  90% {
    /* opacity: 0; */
  }

  100% {
    /* opacity: 0; */
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

@keyframes cloud-movement-left {
  0% {
    /* opacity: 0.1; */
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  10% {
    /* opacity: 0.7; */
  }

  90% {
    /* opacity: 0; */
  }

  100% {
    /* opacity: 0; */
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    transform: translateX(500px);
  }
}

@-webkit-keyframes cloud-movement-left {
  0% {
    /* opacity: 0.1; */
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  10% {
    /* opacity: 0.7; */
  }

  90% {
    /* opacity: 0; */
  }

  100% {
    /* opacity: 0; */
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    transform: translateX(500px);
  }
}

/* #App {
  background: linear-gradient(to right, #0e090b 0%, #6b6966 100%);
} */

#sky {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 150vh;
  height: 100vw;
  position: absolute;
  overflow: hidden;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}

/* section#FAQ:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #1b11468a 0%, #0e090bbd 50%);
  z-index: -1;
} */

.swiper {
  width: 400px;
  height: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}